@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

/*-------Navbar------*/

.navbar-brand {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #fff5ee;
    border: 0;
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 3px solid #ff1493;
}

 .navbar .navbar-toggler {
     border: 0;
 }



 .navbar .nav-link {
     font-family: "Oswald", sans-serif; 
     color: #fff5ee;
     font-weight: 300;
 }

/*-------Colors------*/

.bg-color-navbar {
    background-color: #48041c;
}

.bg-color-facts {
    background-color:	#fff5ee;
}

.bg-color-lookbook {
    background-color: #fff5ee;
}

.container-wrapper-contact {
    background-color: #fff5ee;
}

/*-------Welcome------*/

.welcome-container {
height: 100vh;
/*-----Code taken from CSS Tricks-----*/
background: url("../images/fur-coats.jpg") no-repeat bottom left; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*------End of Code from CSS Tricks---*/
/*------Bootstrap4 Code-----*/
  display: flex;
  align-items: center;
  justify-content: center;
/*-----End of Bootstrap4 Code-----*/
  position: relative;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.jumbotron-title {
    color: #fff5ee;
    font-family: "Oswald", sans-serif;
}

/*------The Facts---*/


.facts-container {
    margin-left: 0;
    margin-right:0;
    padding-left: 0;
    padding-right: 0;
}

.page-title-facts {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #48041c;
}

.subtitle {
    font-family: "Oswald", sans-serif;
    padding-top: 30px;
    padding-left: 15px;
    text-align: center;
    color: #ff1493;
    font-weight: 600;
}

.slowdown,
.habits  {
    text-align: center;
    padding-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    color: #48041c;
}




.pull-right {
    padding: 0;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
}

.btn-facts {
    background-color: #ff1493;
    color: #fff5ee;
    border-radius: 7px;
}

.btn-facts:hover,
.btn-facts:active,
.btn-facts:focus,
.btn-facts:active:focus {
    background-color: 	#48041c;
    border-color:	#48041c;
    color: #fff5ee;
}

/*-------Images-----*/


.slowdown-image,
.vintage-image,
.amazingfashion-image,
.repair-image {
    display: flex;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    margin-left: 0;
    padding: 0;
    border: 3px solid #ff1493;
}


/*--------Lookbook----*/



.lookbook-images-a,
.lookbook-images-b,
.lookbook-images-c, {
     margin-bottom: 0;
     
}

.lookbook-images-a {
    padding-top: 35px;
    background-color: #48041c;
}

.lookbook-images-b {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #48041c;
}

.lookbook-images-c {
    padding-bottom: 35px;
    background-color: #48041c;
}

.img-thumbnail {
      border-radius: 1px;
      border: 	0;
      display: flex;
      left: 0;
      max-height: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 5px;
      background-color: #ff1493;
}


/*-------Events------*/

.events-container {
   
/*-----Code taken from CSS Tricks-----*/
height: 100vh;
background: url("../images/woman-graffiti.jpg") no-repeat bottom left; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*------End of Code from CSS Tricks---*/
/*------Bootstrap4 Code-----*/
  display: flex;
  align-items: center;
  justify-content: center;
/*-----End of Bootstrap4 Code-----*/
  position: relative;
}




.event {
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.event-card {
    
}

.card {
    display: flex;
    background: transparent;
}   

.card-img-top {
    max-height: 160px;
    max-width: 250px;
    border-radius: 3px;
}

.card-title {
    font-family: "Oswald", sans-serif;
}

/*-------Contact------*/

.contact-container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.jumbotron-title-contact {
    color: #48041c;
    font-family: "Oswald", sans-serif;
}

.contact p {
    color: #48041c;
    padding-top: 30px;
    font-size: 20px;
}

.btn-wine {
     background-color: #ff1493;
     border-color: #ff1493;
     color: #fff5ee;
     margin-bottom: 50px;
     margin-top: 50px;
     border-radius: 7px;

}

.social h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #48041c;
}

.social i {
    font-size: 40px;
    height: 40px;
    width: 40px;
    margin: 15px;
    padding: 10px;
    color: #ff1493;
}

/*-------Footer------*/

.footer-container {
    font-family: "Poppins", sans-serif;
    background-color: #48041c;
    color: #fff5ee; 
    padding-top: 7px;   
    border-top: 3px solid #ff1493;
}

/*-------Media Queries------*/

@media screen and (max-width: 768px) {
    .navbar-brand {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    }


}